body{
    margin:0;
}
*{
    box-sizing: border-box;
}
:root{
    --DarkBlue:#023047;
    --LightBlue:#677791;
    --white:#fefefe;
    --gray:#7A7A7A ;
    --Runded:20px;
    --divWidth:1000px;
    --mainfont:Roboto,sans-serif;

}
.Parent1{

    width: 100vw;
    height: 70px;
    /*margin:15px auto 0 auto;*/
    display: flex;
    /*border-style: none none solid none;*/
    /*border-width: 3px;*/
    /*border-color: #d2d7db ;*/
    flex-wrap: wrap;
    align-items: center;
    color: var(--DarkBlue);
padding: 0 10% ;




}

.BorderLine{
    height: 1px;
    background-color: var(--DarkBlue);
    margin: 0 10%;
}
.item1 img{
    height:40px;
}
.item1{
    padding-left: 15px;
    width: 25%;
    display: flex
}
.item2{
    width: 55%;
    a{
        text-decoration: none;
        color: var(--DarkBlue);
    }
    gap: 50px;
    display: flex;
    justify-content: end;
    font-size: 20px;

}
a{
    text-decoration: none;
    color: var(--DarkBlue);
}
.item2t{
    width: 55%;

    justify-content: end;
    font-size: 30px;
    display: none;
}
input{
    display: none;
    visibility: hidden;
    -webkit-appearance: none;

}
.nav-links{
    position: absolute;
    top: 55px;
    right: 0;
    list-style: none;
    color: var(--DarkBlue);
    flex-direction: column;
    background-color: white;
    box-shadow:0px 3px 10px #7A7A7A; ;
    width: 100%;
    gap: 15px;
    border-radius: 10px;
    padding: 20px;
    display: none;

}
.nav-links ul li:hover{
    background-color: #d2d7db;


}
.nav-links >li{
    padding: 10px 20px;
    border-radius: 10px;

}
.item3{
    display: flex;
    gap: 25px;
    width: 20%;
    padding-left : 10px;
    font-size: 20px;
    color: var(--DarkBlue);
    padding-right: 8px;
    justify-content: end;
}
#menu-toggle:checked ~ .nav-links{
    display: flex;
}

@media screen and (min-width:769px)and (max-width:1024px) {

    .Parent1{
        width: 100%;
        padding: 0 2%;

    }
    .item2{
        display: none;
    }
    .item2t{
        display: flex;
    }
    .BorderLine{
        height: 1px;
        background-color: var(--DarkBlue);
        margin: 0 2%;
    }

}
@media screen and  (max-width:768px){
    .Parent1{
        width: 100%;
        height: 200px;

    }
    .item1{
        width:30% ;
    }
    .item1 img{
        height: 100%;
        width: 100%;

    }
    .item2{
        display: none;
        visibility: hidden;
    }
    .item2t{
        font-size: 60px;
        width: 65%;
        display: flex;

    }
    .item3{
        display: none;
        width: 0;
    }
    .nav-links{
        top: 180px;
        font-size: 23px;


    }
}
