.Parent2{
    display: flex;
justify-content: center;
    width: 1140px;

  margin:70px auto 0 auto;
gap: 0px;


}
.RightContent{
    width: 40%;
    display: flex;

    justify-content: end;
}
.RightContent>div > img {
box-shadow: 0 3px 10px #5d5d5d;  ;

    height: 500px;
    border-radius:  2000px;
position: relative;
    border: 20px solid #f0f0f0;

}
.RightContent>div {
    position: relative;
}
.IconDiv{
    position: absolute;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--DarkBlue);
    bottom: 30px;

    color: white;
    font-size: 30px;
}
.LeftContent{
   width: 65%;
    text-align: left;

}
.LeftContent h1{
    color: var(--DarkBlue);
    font-family: var(--mainfont);
    margin-bottom: 10px;
    font-size:64px;

span{
    color: var(--LightBlue);
}
}
.DotAndLine {
    display: flex;
    gap: 10px;
    height: 30px;

    align-items: center;
}
 .Dot{
    background-color: var(--LightBlue);
border-radius: 50%;
    width: 7px;
    height: 7px;
}
.Line{
    background-color: var(--LightBlue);
    border-radius: 10px;
    width: 100px;
    height: 7px;


}
.UnderDotContent{
    color: var(--gray);
}
.squares{
    display: flex;
    gap: 30px;
    padding-left: 15px;


}
.square .num{

    font:40px "poppins", sans-serif;
    font-weight: bolder;
    color: var(--LightBlue);
    text-align: center;
}
.square .con{
    font-family:"Roboto Slab",sans-serif ;
    color: var(--gray);
}
.Parent3{
   width: 1140px;
    margin: 100px auto 0 auto; ;
}
.Parent3-son{

    align-items: center;
    display: flex;
    width: 100%;

    justify-content: center;
    height: 240px;
    border-radius: var(--Runded);
    background-color: var(--LightBlue);


}
.Parent3-Square,.Parent3-Square-l{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 23%;
color: white;
font-family: var(--mainfont);
}
.Parent3-Square-l{
    background-color: var(--DarkBlue) !important;
    height: 300px;
    border-radius: var(--Runded);
    box-shadow: 0 3px 5px black;

}
.Parent3-son i{
    font-size: 40px;
}
.Parent4{
    margin: 180px auto 70px auto;
   width: 1140px;
}
.Parent4-son{
    height: 640px;
    display: flex;
    width: 100%;

    border-radius: var(--Runded);
    align-items: center;
}
.Parent4-1 {
    width: 300px;
    display: flex;
    flex-direction: column;
height: 100%;

}
.Parent4-1 div{
    height: 320px;

    position: relative;

}
.Pic1{

    height: 100%;
    width: 100%;
    background-size: cover;
    border-radius:var(--Runded) 0 0 0 ;
    position: relative;
background-color: #677791;


}
.Pic1 img{
    height: 100%;
    width: 100%;
    border-radius:  var(--Runded) 0 0 0;
    object-fit: cover;
    position: absolute;

}
.Pic1::before{
     content: "";

     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: var(--DarkBlue);
     z-index: 1;
     border-radius:  var(--Runded) 0 0 0;
     opacity: 0.7;
 }
.Pic1 div{
    font-size: 20px;
    position: absolute;
    top: 40%;
    left: 40%;
    color: white;
    z-index: 9999;
    width: 75px;
    height:75px;
    border-radius: 50%;
    border: 3px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.play:hover{
    background-color: white;
    color: var(--DarkBlue);
    transition: 0.45s;
}
.Pic2 {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../img/image-2.jpg");
    background-size: cover;
    border-radius: 0 0 0 var(--Runded);
}
.Parent4-2{
    width: 34%;
    display: flex;
    flex-direction: column;
    padding:50px 50px ;
    color: white;
    font-family: var(--mainfont);
    border-radius:  var(--Runded);
    height:700px;
    background-color: var(--LightBlue);
    z-index: 1;
}
.Parent4-2 h1{
    font-size: 50px;
    margin-bottom: 0;
}
.Parent4-2 p{
    line-height: 1.45;
}
.Parent4-2 button{
    width: 180px;
    height: 60px;
    background-color: var(--DarkBlue);
    border: none;
    color: white;
    font-size: 16px;
    border-radius: var(--Runded);
    margin-top: 15px;

}
.Parent4-3{
     width: 40%;
     box-shadow: 0 0 15px #adadad;
     height: 100%;
     border-radius: 0 var(--Runded) var(--Runded) 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
 }
.IconLabel{
    display: flex;
    align-items: center;
    gap: 15px;

}
.IconLabel span{
    height: 50px;
    width: 50px;
    background-color: var(--DarkBlue);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:15px;
    color: white;
    font-size: 20px;
}
.Parent4-3 div p{
    color: var(--gray);

}
.DisPar{
      padding-left:65px ;
  }
.Parent4-3 h2{
    color: var(--DarkBlue);
}
.Parent5{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1140px;
    margin: auto;
    height: 280px;
}
.Partner-dis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:first;
    height: 130px;
    width: 320px;
    h2{
        color: var(--DarkBlue);
        margin-bottom: 0;
    }
    p{
        color: var(--gray);
        line-height: 1.45;
    }
}
.Partner-Logo{
    gap: 130px;
    display: flex;
    align-items: center;
    justify-content: right;
   height: 130px;
    width: 820px;
}
.P_logo1{
    height: 40px;
    width: 125px;
    object-fit: cover;
}
.P_logo2{
    width:153px;
    height: 38px;

}
.P_logo3{
    width: 155px;
    height: 29px;
}
.Parent10{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 459px;
    background-image:url("../img/cctv-security-camera-or-home-surveillance-cameras-2022-11-15-09-07-07-utc.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;



}
.Parent10:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--LightBlue);
    opacity: 0.7;
}












.Footer{
    width: 100vw;
    background-image: url("../img/close-up-of-modern-video-monitoring-camera-on-whit-2023-01-13-02-51-56-utc.jpg");
background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}
.FooterHed-container{
    width: 100%;
    background-color: var( --LightBlue);
    height: 242px;
    display: flex;




}
.FooterHed{
    width: 1140px;
    height: 100%;
    display: flex;
    margin: auto;
    justify-content: left;
    align-items: center;
    color: white;



}
.FooterHed-Submit input{
    width: 362px;
    height: 48px;
    padding: 10px;
    z-index: 3;
    outline: none;
    border: 1px solid white;
    border-radius:12px ;
    background-color: var(--LightBlue);
}
.FooterHed-Submit input::placeholder{

    color: white;
}
.FooterHed-Submit{
    display: flex;
    gap: 30px;
    width: 60%;
    justify-content: end;
    align-items: center;

}
.FooterHed-Submit button{
    width: 141px;
    height: 48px;
    border-radius: 12px;
    border: none;
    background-color: var(--DarkBlue);
    color: white;

    font-size: 15.5px;
}
.FooterHed-con h1{
font-size: 40px;
}
.FooterContent-container{
    width: 100%;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 60px;
    padding-left: 15px;


}
.FooterContent-container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--LightBlue);
    opacity: 0.7;

}
.FooterContent{

    width: 1140px;
    display: flex;
    align-items: center;
    justify-content: center;
   z-index: 1;
margin-bottom: 30px;


}
.FooterContent_square1{
    width: 431px;
    height: 215px;
    line-height: 1.45;
    color: white;
}
.FooterContent_square1 img{
    width: 211px;
    height: 63px;
}
.FooterContent_square1-Icons{
    display: flex;
    gap: 5px;
    font-size: 20px;
}
.FooterContent_square1-Icons div{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--DarkBlue);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.FooterContent_square2{
    width: 238px;
    height: 215px;
    color:white;
}
.FooterContent_square2 h2,.FooterContent_square3 h2,.FooterContent_square4 h2{
    margin-top: 0;
    margin-bottom: 25px;
}
.FooterContent_square2 div,.FooterContent_square3 div{
    margin-top: 10px;
}
.FooterContent_square3{
    width: 227px;
    height: 215px;
    color:white;

}
.FooterContent_square4{
    width: 243px;
    height: 215px;
    color:white;
    line-height: 1.45;
}
.FooterContent_square4 button{
    width: 146px;
    height: 56px;
    border-radius: 10px;
    color: white;
    background-color: var(--DarkBlue);
    border: none;
    font-size: 15.5px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}
.Footer-Line{
    width: 1140px;
    height: 1px;
    background-color: white;
    z-index: 1;
}
.Footer-Under-Line{
    width: 1140px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 1;

}